<div class="one-first-evolution" *ngIf="firstEvoPokemonName && pokemon && lvlUpTrigger" data-aos="fade-in">
    <div class="base-pokemon">
        <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
        <img class="base-pokemon-image" [src]="basePokemonData.sprite_big" />
        <span>{{basePokemonData.name}}</span>
    </div>

    <div class="requirement-wrapper">
        <div class="requirement-container jc-space-between">
            <div class="evolution-requirement">
                <img src="./../../../../../../../assets/img/evoArrowRight.svg">
                <span class="requirement">{{lvlUpTrigger[0]}}</span>
            </div>
            <div class="evolution-requirement">
                <img src="./../../../../../../../assets/img/evoArrowRight.svg">
                <span class="requirement">{{lvlUpTrigger[1]}}</span>
            </div>
        </div>

        <div class="requirement-container">
            <div class="evolution-requirement">
                <img src="./../../../../../../../assets/img/evoArrowRight.svg">
                <span class="requirement">{{lvlUpTrigger[2]}}</span>
            </div>
        </div>
    </div>

    <div class="evo-wrapper">
        <div class="evo-container jc-space-between">
            <div class="first-evolution">
                <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
                <img class="first-evolution-image" [src]="this.firstEvoPokemonName[0].sprite_big" />
                <span>{{this.firstEvoPokemonName[0].name}}</span>
            </div>
            <div class="first-evolution">
                <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
                <img class="first-evolution-image" [src]="this.firstEvoPokemonName[1].sprite_big" />
                <span>{{this.firstEvoPokemonName[1].name}}</span>
            </div>
        </div>

        <div class="evo-container">
            <div class="first-evolution">
                <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
                <img class="first-evolution-image" [src]="this.firstEvoPokemonName[2].sprite_big" />
                <span>{{this.firstEvoPokemonName[2].name}}</span>
            </div>
        </div>
    </div>

</div>