.one-first-evolution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

    .base-pokemon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 160px;
        width: 160px;

        .pokemon-background {
            height: 280px;
            width: auto;
            filter: opacity(0.05) invert(1);
            position: absolute;
            left: -60px;
            bottom: -60px;
            z-index: 2;
        }

        .base-pokemon-image {
            height: 140px;
            z-index: 3;
        }

        span {
            position: absolute;
            bottom: -60px;
            text-transform: capitalize;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .evolution-requirement {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 180px;

        img {
            width: 100px;
        }

        .requirement {
            position: absolute;
            bottom: 40px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            width: 136px;
            height: 24px;
        }
    }

    .first-evolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 180px;
        width: 140px;

        .pokemon-background {
            height: 200px;
            width: auto;
            filter: opacity(0.05) invert(1);
            position: absolute;
            z-index: 2;
        }

        .first-evolution-image {
            height: 160px;
            z-index: 3;
        }

        span {
            position: absolute;
            bottom: -16px;
            text-transform: capitalize;
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.evo-container{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}

.requirement-container{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    position: relative;

}

.pos-absolute{
    position: absolute;
}

.offset-right-80{
    left: 80px;
}

.offset-right-160{
    left: 160px;
}

.requirement-wrapper{
    display:flex;
    height: 100%;
}

.evo-wrapper{
    display:flex;
    height: 100%;
}

.jc-space-between{
    justify-content:space-between;
}