<div class="illustration-wrapper" data-aos="slide-right" [ngStyle]="{ backgroundColor: backgroundColorAsType(pokemon.type_1) }">
    <div class="illustration-header">
        <div class="pokemon-name-and-type-wrapper">
            <div class="pokemon-name-container">
                <h1>{{ pokemon.name }}</h1>
            </div>
            <div class="pokemon-type-container">
                <div class="pokemon-type">
                    <img [src]="'./../../../../../../assets/img/'+ pokemon.type_1 + 'Icon.png'">
                    <h2>{{ pokemon.type_1 }}</h2>
                </div>
                <div class="pokemon-type" *ngIf="pokemon.type_2">
                    <img [src]="'./../../../../../../assets/img/'+ pokemon.type_2 + 'Icon.png'">
                    <h2>{{ pokemon.type_2 }}</h2>
                </div>
            </div>
        </div>
        <div class="pokemon-id">
            {{ formatPokemonId(pokemon.id) }}
        </div>
    </div>

    <div class="illustration-body">
        <div class="previous-pokemon">
            <div class="arrow-container">
                <img src="./../../../../../../assets/img/arrowLeft.svg" alt="previous pokemon">
            </div>
        </div>
        <div class="pokemon-image">
            <img [src]="pokemon.sprite_big" />
        </div>
        <div class="next-pokemon">
            <div class="arrow-container">
                <img src="./../../../../../../assets/img/arrowRight.svg" alt="next pokemon">
            </div>
        </div>
    </div>


    <div class="illustration-footer">
        <img src="./../../../../../../assets/img/pokemon-background.png" alt="grass background">
    </div>

    <div class="shade"></div>

    <div class="pokeball-icon-background-container">
        <img class="pokeball-icon-background" src="./../../assets/img/pokeball_logo_white.svg">
      </div>


</div>