<div *ngFor="let pokemon of filteredPokemons; let i = index" [id]="'overviewPokemonCard' + i"
  class="pokemon-card-small" (click)="openPokemonInfoCard(pokemon.id)">

  <div class="card-content" [ngStyle]="{ backgroundColor: backgroundColorAsType(pokemon.type_1) }">
    <div class="card-front-side">
      <div [id]="'overviewPokemonId' + i" class="pokemon-id-small-card">
        {{ formatPokemonId(pokemon.id) }}
      </div>
      <span class="pokemon-name-small-card">{{ pokemon.name }}</span>
      <div class="pokemon-type-wrapper">
        <div [id]="'overviewPokemonTypeContainer' + i" class="pokemon-type-container-small-card">
          <div class="pokemon-type-small-card" *ngIf="pokemon.type_1">
            <span>{{ pokemon.type_1 }}</span>
          </div>
          <div class="pokemon-type-small-card" *ngIf="pokemon.type_2">
            <span>{{ pokemon.type_2 }}</span>
          </div>
        </div>
      </div>
      <div class="pokeball-icon-background-container">
        <img class="pokeball-icon-background" src="./../../assets/img/pokeball_logo_white.svg">
      </div>
      <div class="pokemon-image">
        <img [src]="pokemon.sprite" />
      </div>
    </div>
    <div class="card-back-side">
    </div>
  </div>

</div>
