<div class="one-first-evolution" *ngIf="firstEvoPokemonName[0] && pokemon && lvlUpTrigger" data-aos="fade-in">
    <div class="base-pokemon">
        <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
        <img class="base-pokemon-image" [src]="firstEvoPokemonName[0].sprite_big" />
        <span>{{firstEvoPokemonName[0].name}}</span>
    </div>
    <div class="evolution-requirement">
        <img src="./../../../../../../../assets/img/evoArrowRight.svg">
        <span class="requirement">{{lvlUpTrigger[0]}}</span>
    </div>
    <div class="first-evolution">
        <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
        <img class="first-evolution-image" [src]="firstEvoPokemonName[1].sprite_big" />
        <span>{{firstEvoPokemonName[1].name}}</span>
    </div>
</div>