.one-first-evolution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

    .base-pokemon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 200px;
        width: 200px;

        .pokemon-background {
            height: 320px;
            width: auto;
            filter: opacity(0.05) invert(1);
            position: absolute;
            left: -60px;
            bottom: -60px;
            z-index: 2;
        }

        .base-pokemon-image {
            height: 200px;
            z-index: 3;
        }

        span {
            position: absolute;
            bottom: -60px;
            text-transform: capitalize;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .evolution-requirement {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        img {
            width: 120px;
        }

        span {
            position: absolute;
            bottom: -4px;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .first-evolution {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 200px;
        width: 200px;

        .pokemon-background {
            height: 320px;
            width: auto;
            filter: opacity(0.05) invert(1);
            position: absolute;
            left: -60px;
            bottom: -60px;
            z-index: 2;
        }

        .first-evolution-image {
            height: 200px;
            z-index: 3;
        }

        span {
            position: absolute;
            bottom: -60px;
            text-transform: capitalize;
            font-size: 24px;
            font-weight: bold;
        }
    }
}