.main-container {
    display: grid;
    grid-template-rows: repeat(30, 0.7fr);
    grid-template-columns: repeat(50, 1fr);
    height: calc(100% - 44px);
    width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-evo-1 {
    grid-area: 2 / 10 / 7 / 14;
}

.arrow-up-1 {
    grid-area: 7 / 10 / 9 / 14;
}

.lvl-up-req-1 {
    grid-area: 9 / 9 / 11 / 15;
}


.poke-evo-2 {
    grid-area: 2 / 24 / 7 / 28;
}

.arrow-up-2 {
    grid-area: 7 / 24 / 9 / 28;
}

.lvl-up-req-2 {
    grid-area: 9 / 23 / 11 / 29;
}


.poke-evo-3 {
    grid-area: 2 / 38 / 7 / 42;
}

.arrow-up-3 {
    grid-area: 7 / 38 / 9 / 42;
}

.lvl-up-req-3 {
    grid-area: 9 / 37 / 11 / 43;
}


.poke-evo-4 {
    grid-area: 13 / 2 / 18 / 6;
}

.arrow-left-4 {
    grid-area: 13 / 6 / 18 / 8;
}

.lvl-up-req-4 {
    grid-area: 14 / 9 / 17 / 15;
}


.poke-evo-5 {
    grid-area: 13 / 46 / 18 / 50;
}

.arrow-right-5 {
    grid-area: 13 / 44 / 18 / 46;
}

.lvl-up-req-5 {
    grid-area: 14 / 37 / 17 / 43;
}


.poke-evo-6 {
    grid-area: 25 / 10 / 30 / 14;
}

.arrow-down-6 {
    grid-area: 23 / 10 / 25 / 14;
}

.lvl-up-req-6 {
    grid-area: 21 / 8 / 23 / 16;
}

.poke-evo-7 {
    grid-area: 25 / 24 / 30 / 28;
}

.arrow-down-7 {
    grid-area: 23 / 24 / 25 / 28;
}

.lvl-up-req-7 {
    grid-area: 21 / 22 / 23 / 30;
}


.poke-evo-8 {
    grid-area: 25 / 38 / 30 / 42;
}

.arrow-down-8 {
    grid-area: 23 / 38 / 25 / 42;
}

.lvl-up-req-8 {
    grid-area: 21 / 36 / 23 / 44;
}


.base-pokemon-container {
    grid-area: 12 / 23 / 20 / 29;
}

.base-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 160px;
    width: 160px;

    .pokemon-background {
        height: 180px;
        width: auto;
        filter: opacity(0.05) invert(1);
        position: absolute;
        left: -34px;
        bottom: -4px;
        z-index: 2;
    }

    .base-pokemon-image {
        height: 120px;
        z-index: 3;
    }
}

.first-evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;

    .pokemon-background {
        height: 120px;
        width: auto;
        filter: opacity(0.05) invert(1);
        position: absolute;
        z-index: 2;
    }

    .first-evolution-image {
        height: 100%;
        z-index: 3;
    }

    span {
        position: absolute;
        bottom: -16px;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
    }
}

.top-pokemon-names{
    position: absolute;
    top: -16px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
}

.evolution-requirement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    .arrow-up {
        height: 100%;
        transform: rotate(-90deg);
    }

    .arrow-left {
        width: 100%;
        transform: rotate(-180deg);
    }

    .arrow-right {
        width: 100%;;
    }

    .arrow-down {
        height: 100%;
        transform: rotate(90deg);
    }


}

.requirement-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.requirement {

    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}