<div class="main-container">

    <div class="learn-type-container">
        <div *ngFor="let method of moveLearnMethods" class="learn-type"
        [ngStyle]="{
            borderColor: colorAsType(pokemon.type_1), 
            backgroundColor: method === activeLearnTypeNonFormatted ? colorAsType(pokemon.type_1) : (method === hoveredLearnType ? lightColorAsType(pokemon.type_1) : ''),
          }"
            (click)="setActiveLearnType(method)"
            (mouseenter)="onMouseEnterType(method)"
            (mouseleave)="onMouseLeaveType()">
            <span [ngStyle]="{
                color: method === activeLearnTypeNonFormatted ? 'white' : 'black',
                filter: method === activeLearnTypeNonFormatted ? 'drop-shadow(0px 0px 1px black)' : ''
             }">{{method}}</span>
        </div>
    </div>




    <div class="moves-container">
        <div class="moves-header" [ngStyle]="{ backgroundColor: colorAsType(pokemon.type_1) }">
            <div class="table-topic width-9">Level</div>
            <div class="table-topic width-38">Move</div>
            <div class="table-topic width-13">Type</div>
            <div class="table-topic width-13">Category</div>
            <div class="table-topic width-9">Power</div>
            <div class="table-topic width-9">PP</div>
            <div class="table-topic width-9">Acc.(%)</div>
        </div>

        <div class="moves-content" [ngStyle]="{ backgroundColor: lightColorAsType(pokemon.type_1) }"
            *ngIf="pokemon.moves.length > 0">
            <div *ngFor="let move of movesFilteredByGameVersion" class="move-details" data-aos="fade-in">
                <div class="move width-9">{{ move.levelLearnedAt > 0 ? move.levelLearnedAt : '-' }}</div>
                <div class="move width-38">{{move.name}}</div>
                <div class="move width-13">{{move.type}}</div>
                <div class="move width-13">{{move.damageClass}}</div>
                <div class="move width-9">{{move.power > 0 ? move.power : '-' }}</div>
                <div class="move width-9">{{move.powerPoint}}</div>
                <div class="move width-9">{{move.accuracy > 0 ? move.accuracy : '-' }}</div>
            </div>
        </div>

        <div class="moves-footer" [ngStyle]="{ backgroundColor: colorAsType(pokemon.type_1) }"></div>
    </div>






    <div class="game-version-container">
        <div *ngFor="let version of pokemonGameVersions" class="game-version"
            [ngStyle]="{
                borderColor: colorAsType(pokemon.type_1), 
                backgroundColor: version === activeGameVerisonNonFormatted ? colorAsType(pokemon.type_1) : (version === hoveredGameVersion ? lightColorAsType(pokemon.type_1) : '')
              }"
            (click)="setActiveGameVersion(version)"
            (mouseenter)="onMouseEnterVersion(version)"
            (mouseleave)="onMouseLeaveVersion()">
            <span [ngStyle]="{
                color: version === activeGameVerisonNonFormatted ? 'white' : 'black',
                filter: version === activeGameVerisonNonFormatted ? 'drop-shadow(0px 0px 1px black)' : ''
             }">{{version}}</span>
        </div>
    </div>

</div>