<!-- Prüfen, ob pokemonEvoData und evolutions definiert sind -->
<app-no-evolution 
  *ngIf="pokemonEvoData?.evolutions?.length === 0" 
  data-aos="fade-in">
</app-no-evolution>

<app-one-first-evo 
  *ngIf="pokemonEvoData?.evolutions?.length === 1 && pokemonEvoData?.evolutions[0]?.evolves_to?.length === 0"
  [selectedPokemonId]="selectedPokemonId" 
  [lvlUpTrigger]="lvlUpTrigger" 
  [pokemon]="pokemon" 
  [firstEvoPokemonName]="firstEvoPokemonName"
  data-aos="fade-in">
</app-one-first-evo>

<app-one-first-one-second-evo 
*ngIf="pokemonEvoData?.evolutions?.length === 1 && pokemonEvoData?.evolutions[0]?.evolves_to?.length === 1"
[selectedPokemonId]="selectedPokemonId" 
[lvlUpTrigger]="lvlUpTrigger" 
[pokemon]="pokemon" 
[firstEvoPokemonName]="firstEvoPokemonName"
data-aos="fade-in">
</app-one-first-one-second-evo>

<app-two-first-evos 
  *ngIf="pokemonEvoData?.evolutions?.length === 2 && pokemonEvoData?.evolutions[0]?.evolves_to?.length === 0"
  [selectedPokemonId]="selectedPokemonId" 
  [lvlUpTrigger]="lvlUpTrigger" 
  [pokemon]="pokemon" 
  [firstEvoPokemonName]="firstEvoPokemonName"
    data-aos="fade-in">
</app-two-first-evos>

<app-one-first-two-second-evos
*ngIf="pokemonEvoData?.evolutions?.length === 1 && pokemonEvoData?.evolutions[0]?.evolves_to?.length === 2"
[selectedPokemonId]="selectedPokemonId" 
[lvlUpTrigger]="lvlUpTrigger" 
[pokemon]="pokemon" 
[firstEvoPokemonName]="firstEvoPokemonName"
data-aos="fade-in">
</app-one-first-two-second-evos>


<app-three-first-evos
*ngIf="pokemonEvoData?.evolutions?.length === 3 && pokemonEvoData?.evolutions[0]?.evolves_to?.length === 0"
[selectedPokemonId]="selectedPokemonId" 
[lvlUpTrigger]="lvlUpTrigger" 
[pokemon]="pokemon" 
[firstEvoPokemonName]="firstEvoPokemonName"
data-aos="fade-in">
</app-three-first-evos>

<app-eight-first-evos
*ngIf="pokemonEvoData?.evolutions?.length === 8 && pokemonEvoData?.evolutions[0]?.evolves_to?.length === 0"
[selectedPokemonId]="selectedPokemonId" 
[lvlUpTrigger]="lvlUpTrigger" 
[pokemon]="pokemon" 
[firstEvoPokemonName]="firstEvoPokemonName"
data-aos="fade-in">>
</app-eight-first-evos>
