<div class="screen-frame">
    <div class="above-screen">
        <div class="top-left">
            <div class="search-bar">
                <input id="searchPokemon" placeholder="Search by Name or Type..." oninput="searchPokemon()">
            </div>
        </div>
        <div class="top-middle">
            <div *ngIf="isLoading" class="left-lamp" [ngClass]="{ 'active': isLoading }"></div>
            <div *ngIf="!isLoading" class="left-lamp"></div>
            <div *ngIf="isLoading" class="right-lamp" [ngClass]="{ 'active': isLoading }"></div>
            <div *ngIf="!isLoading" class="right-lamp"></div>
        </div>
        <div class="top-right-placeholder"></div>
    </div>
    <div class="content-screen">
        <div *ngIf="isLoading" class="loading-screen">
            <img src="./../../../assets/img/pokeball_loading.png">
        </div>
        <app-pokemon-card-small id="pokemon-list"></app-pokemon-card-small>
    </div>
    <div class="below-screen">
        <div class="bottom-left">
            <div class="big-lamp"></div>
        </div>
        <div class="load-pokemon-btn">
            <Button *ngIf="!isLoading" id="loadMorePokemonButton" (click)="loadMorePokemon()">More Pokemon</Button>
            <Button *ngIf="isLoading" id="loadMorePokemonButton" [ngClass]="{ 'active': isLoading }">
                <div class="spinner"></div>
                <p>Loading...</p>
            </Button>
        </div>
        <div class="bottom-right">
            <div class="speaker-slit"></div>
            <div class="speaker-slit"></div>
            <div class="speaker-slit"></div>
            <div class="speaker-slit"></div>
        </div>
    </div>
    <div class="design-object-shadow">
        <div class="design-object">
        </div>
    </div>
</div>