.screen-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 219);
    border: 4px solid rgb(66, 58, 58);
    border-radius: 16px;
    max-height: 739px;
    padding-left: 80px;
    padding-right: 80px;

    .design-object-shadow {
        width: 0px;
        height: 0px;
        border-right: 80px solid transparent;
        border-left: 0px solid rgb(66, 58, 58);
        border-bottom: 80px solid rgb(66, 58, 58);
        position: absolute;
        bottom: -4px;
        left: -4px;

        .design-object {
            width: 0px;
            height: 0px;
            border-right: 78px solid transparent;
            border-left: 0px solid rgb(255, 154, 136);
            border-bottom: 78px solid rgb(255, 154, 136);
            position: absolute;
            bottom: -82px;
            left: -2px;
        }
    }
}

.above-screen {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 16px;
}

.top-left {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .search-bar {
        width: 100%;
        max-width: 360px;
        min-width: 240px;
        display: flex;
        justify-content: flex-start;

        input {
            height: 32px;
            width: 100%;
            border-radius: 16px;
            padding-left: 12px;
            padding-right: 12px;
            border: 3px solid rgb(66, 58, 58);
            font-weight: bold;
            font-size: 16px;
            box-shadow: none;
            font-family: Fredoka;

            &:focus {
                box-shadow: inset 0px 0px 2px 1px rgba(66, 58, 58, 0.8);

                &::placeholder {
                    color: transparent;
                }
            }
        }
    }
}

.top-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 20%;

    .left-lamp {
        height: 20px;
        width: 20px;
        border: 2px solid rgb(66, 58, 58);
        background-color: rgb(207, 15, 58);
        border-radius: 50%;
    }

    .right-lamp {
        height: 20px;
        width: 20px;
        border: 2px solid rgb(66, 58, 58);
        background-color: rgb(207, 15, 58);
        border-radius: 50%;
    }
}

.top-right-placeholder {
    width: 40%;
}

.content-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    border: 2px solid rgb(66, 58, 58);
    flex: 1;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 7px 1px rgba(66, 58, 58, 0.8);
    overflow: hidden;
}

#pokemon-list {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    gap: 16px;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
}

/* width */
#pokemon-list::-webkit-scrollbar {
    width: 4px;
}

/* Track */
#pokemon-list::-webkit-scrollbar-track {
    background-color: rgb(255, 206, 49);
}

/* Handle */
#pokemon-list::-webkit-scrollbar-thumb {
    background-color: rgb(57, 51, 152);
}

/* Handle on hover */
#pokemon-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(60, 48, 236);
}

.below-screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;

    .bottom-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 160px;

        .big-lamp {
            height: 60px;
            width: 60px;
            border: 2px solid rgb(66, 58, 58);
            background-color: rgb(207, 15, 58);
            border-radius: 50%;
        }
    }

    .load-pokemon-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 160px;
        background-color: #37617c;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        transform: translateY(8px);
        border-bottom: 3px solid rgb(66, 58, 58);

        button {
            height: 40px;
            width: 160px;
            background-color: rgb(97, 157, 214);
            color: white;
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transform: translateY(-14px);
            transition: transform 0.1s ease;

            &:active {
                transform: translateY(-10px);
            }
        }
    }

    .bottom-right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 160px;

        .speaker-slit {
            width: 100%;
            height: 8px;
            background-color: rgb(66, 58, 58);
            border-radius: 12px 12px 12px 12px;
        }
    }
}

@media screen and (max-width: 930px) {

    .screen-frame {
        padding-left: 60px;
        padding-right: 60px;

        .design-object-shadow {
            border-right: 70px solid transparent;
            border-bottom: 70px solid rgb(66, 58, 58);

            .design-object {
                border-right: 68px solid transparent;
                border-bottom: 68px solid rgb(255, 154, 136);
                bottom: -72px;
                left: -2px;
            }
        }
    }

    .top-left {
        width: 80%;
    }

    .top-middle {
        justify-content: flex-end;
    }

    .top-right-placeholder {
        display: none;
    }

    .below-screen {

        .bottom-left {
            width: 120px;

            .big-lamp {
                height: 50px;
                width: 50px;
            }
        }

        .load-pokemon-btn {
            transform: translateY(10px);
        }

        .bottom-right {
            gap: 7px;
            width: 120px;

            .speaker-slit {
                height: 7px;
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .screen-frame {
        padding-left: 40px;
        padding-right: 40px;

        .design-object-shadow {
            border-right: 50px solid transparent;
            border-bottom: 50px solid rgb(66, 58, 58);

            .design-object {
                border-right: 47px solid transparent;
                border-bottom: 47px solid rgb(255, 154, 136);
                bottom: -50px;
            }
        }
    }

    .below-screen {

        .bottom-left {
            width: 80px;

            .big-lamp {
                height: 40px;
                width: 40px;
            }
        }

        .load-pokemon-btn {
            width: 140px;

            button {
                height: 36px;
                font-size: 15px;
                padding: 8px 16px;

                &:active {
                    transform: translateY(-6px);
                }
            }
        }

        .bottom-right {
            gap: 6px;
            width: 80px;

            .speaker-slit {
                height: 6px;
            }
        }
    }
}

@media screen and (max-width: 560px) {

    .screen-frame {
        padding-left: 32px;
        padding-right: 32px;
    }

    .above-screen {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .top-left {

        .search-bar {
            min-width: 200px;
            max-width: 240px;

            input {
                height: 24px;
                border-radius: 12px;
                font-size: 14px;
            }
        }
    }

    .top-middle {
        gap: 20px;

        .left-lamp,
        .right-lamp {
            height: 14px;
            width: 14px;
        }
    }

    .below-screen {

        .bottom-left {
            width: 60px;

            .big-lamp {
                height: 32px;
                width: 32px;
            }
        }

        .load-pokemon-btn {
            width: 140px;

            button {
                height: 36px;
                font-size: 15px;
                padding: 8px 16px;

                &:active {
                    transform: translateY(-6px);
                }
            }
        }

        .bottom-right {
            gap: 5px;
            width: 60px;

            .speaker-slit {
                height: 5px;
            }
        }
    }
}

@media screen and (max-width: 460px) {

    .screen-frame {
        padding-left: 16px;
        padding-right: 16px;
        border: 3px solid rgb(66, 58, 58);

        .design-object-shadow {
            border-right: 32px solid transparent;
            border-bottom: 32px solid rgb(66, 58, 58);
            bottom: -3px;
            left: -3px;

            .design-object {
                border-right: 29px solid transparent;
                border-bottom: 29px solid rgb(255, 154, 136);
                bottom: -32px;
                left: -1px;
            }
        }
    }

    .above-screen {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .top-left {

        .search-bar {
            min-width: 180px;
            max-width: 200px;

            input {
                height: 20px;
                font-size: 13px;
            }
        }
    }

    .top-middle {
        gap: 20px;

        .left-lamp,
        .right-lamp {
            height: 14px;
            width: 14px;
        }
    }

    .below-screen {

        .bottom-left {
            width: 60px;

            .big-lamp {
                height: 28px;
                width: 28px;
            }
        }

        .load-pokemon-btn {
            width: 120px;
            height: 20px;
            transform: translateY(8px);

            button {
                height: 32px;
                font-size: 14px;
                font-weight: bold;
                padding: 4px 8px;
                transform: translateY(-10px);

                &:active {
                    transform: translateY(-6px);
                }
            }
        }

        .bottom-right {
            gap: 4px;
            width: 60px;

            .speaker-slit {
                height: 4px;
            }
        }
    }
}

@media screen and (max-width: 390px) {

    .screen-frame {
        padding-left: 8px;
        padding-right: 8px;
        border: 2px solid rgb(66, 58, 58);

        .design-object-shadow {
            border-right: 24px solid transparent;
            border-bottom: 24px solid rgb(66, 58, 58);
            bottom: -2px;
            left: -2px;

            .design-object {
                border-right: 24px solid transparent;
                border-bottom: 24px solid rgb(255, 154, 136);
                bottom: -25px;
                left: -2px;
            }
        }
    }

    .top-left {
        .search-bar {
            input {
                border: 2px solid rgb(66, 58, 58);
            }
        }
    }

    .top-middle {
        gap: 16px;
    }

    .content-screen {
        border: 1px solid rgb(66, 58, 58);
    }
}