<div class="screen-frame">
    <div class="above-screen">
        <div class="top-left">
            <div class="search-bar">
                <input id="searchPokemon" placeholder="Search by Name or Type..." oninput="searchPokemon()">
            </div>
        </div>
        <div class="top-middle">
            <div class="left-lamp"></div>
            <div class="right-lamp"></div>
        </div>
        <div class="top-right-placeholder"></div>
    </div>
    <div class="content-screen">
        <div id="pokemon-list">
            <app-pokemon-card-small></app-pokemon-card-small>
        </div>
    </div>
    <div class="below-screen">
        <div class="bottom-left">
            <div class="big-lamp"></div>
        </div>
        <div class="load-pokemon-btn">
            <Button id="loadMorePokemonButton" onclick="loadMorePokemon()">More Pokemon</Button>
        </div>
        <div class="bottom-right">
            <div class="speaker-slit"></div>
            <div class="speaker-slit"></div>
            <div class="speaker-slit"></div>
            <div class="speaker-slit"></div>
        </div>
    </div>
    <div class="design-object-shadow">
        <div class="design-object">
        </div>
    </div>
</div>