<div class="pokedex-background unselectable">
    <div class="top-section">
        <div class="lenses">
            <div class="big-lens">
                <div class="big-lens-reflection"></div>
            </div>
            <div class="red-lens"></div>
            <div class="yellow-lens"></div>
            <div class="green-lens"></div>
        </div>
        <div class="headline">
            <img src="./../../../assets/img/logo.png">
        </div>
        <div class="placeholder-space">
            <div class="design-object-shadow">
                <div class="design-object"></div>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div class="left-border"></div>
        <app-pokedex-screen></app-pokedex-screen>
        <div class="right-border">
            <div class="right-border-top">
                <div class="right-border-reflection"></div>
            </div>
            <div class="right-border-middle">
                <div class="right-border-reflection"></div>
            </div>
            <div class="right-border-bottom">
                <div class="right-border-reflection"></div>
            </div>
        </div>
    </div>
    <div class="bottom-section"></div>