<div class="one-first-evolution" *ngIf="pokemonDetailsOfEvoChain[0] && pokemon && lvlUpTrigger" data-aos="fade-in">
    <div class="base-and-first-evo-container-mobile">
        <div class="base-pokemon">
            <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
            <img class="base-pokemon-image" [src]="pokemonDetailsOfEvoChain[0].sprite_big" />
            <span>{{pokemonDetailsOfEvoChain[0].name}}</span>
        </div>
        <div class="evolution-requirement">
            <img class="arrow-right" src="./../../../../../../../assets/img/evoArrowRight.svg">
            <span class="requirement">{{lvlUpTrigger[0]}}</span>
        </div>
        <div class="first-evolution">
            <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
            <img class="first-evolution-image" [src]="pokemonDetailsOfEvoChain[1].sprite_big" />
            <span>{{pokemonDetailsOfEvoChain[1].name}}</span>
        </div>
    </div>



    <div class="requirement-container">

        <div class="evolution-requirement">
            <img class="arrow-down" src="./../../../../../../../assets/img/evoArrowRight.svg">
            <span class="requirement-first-second-evo">{{lvlUpTrigger[1]}}</span>
        </div>
        <div class="evolution-requirement">
            <img class="arrow-down-right" src="./../../../../../../../assets/img/evoArrowRight.svg">
            <span class="requirement-second-second-evo">{{lvlUpTrigger[2]}}</span>
        </div>
                <div class="evolution-requirement">
            <img class="second-evo-arrow" src="">
        </div>
    </div>


    <div class="evo-container">
        <div class="first-evolution">
            <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
            <img class="first-evolution-image" [src]="pokemonDetailsOfEvoChain[2].sprite_big" />
            <span>{{pokemonDetailsOfEvoChain[2].name}}</span>
        </div>
        <div class="first-evolution">
            <img class="pokemon-background" src="./../../../../../../../assets/img/pokeball_logo_white.svg">
            <img class="first-evolution-image" [src]="pokemonDetailsOfEvoChain[3].sprite_big" />
            <span>{{pokemonDetailsOfEvoChain[3].name}}</span>
        </div>
    </div>
</div>
