@font-face {
    font-family: Fredoka;
    src: url('./assets/fonts/Fredoka/static/Fredoka-Regular.ttf');
}

body {
    margin: 0;
    font-family: Fredoka;
}

app-root {
    padding: 4px;
    height: calc(100vh - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

app-pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}