@font-face {
    font-family: Fredoka;
    src: url('./assets/fonts/Fredoka/static/Fredoka-Regular.ttf');
}

body {
    margin: 0;
    font-family: Fredoka;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-root{
    padding: 4px;
}
